@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: #087ac7;
}

h1 {
    text-align: center;
    color: blue;
}

script {
    width: 200px;
    flex: 0 0 auto;
}

.container {
    display:flex;
    justify-content: space-around;
    margin-top: 20px;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
}

.copy {
    text-align: center;
}

.top-bar {
    display: flex;
    justify-content: center;
}

.menu {
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.hr {
    color: red;
    background-color: red;
}